.gallery {
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: var(--background-color);
  padding: 50px 0;
}

.technologies {
  display: flex;
  animation: scroll 70s linear infinite;
}

.technology {
  flex: 0 0 auto;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skills {
font-size: 2.5rem;
color: var(--text-color);
margin-bottom: 50px;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: grey;
  margin-top: 10px;
}

.technology i, .technology svg {
  color: var(--accent-color);
  font-size: 2rem;
}
