   .header {
    background-color: var(--background-color);
    padding: 10px 20px;
  }
  
  #mainNav ul {
    list-style-type: none;
  }
  
  #mainNav li {
    margin: 0 15px;
  }
  
  #mainNav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
  }
  
  #mainNav a:hover,
  #mainNav .active a {
    color: var(--accent-color);
  }
  